#question {
  color: blue;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/01/29/12/simpsons-header-h-2018-copy.jpg?width=668");
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border: 10px solid blue;
  /* display: flex;
  flex-direction: column; */
}

/* this makes it that you don't see the question and feedback when you start */
#question,
/* #feedback, */
#finish,
.nextButton {
  display: none;
}

#question p {
  color: grey;
  font-size: 20px;
  font-weight: bold;
}

.box {
  /* background-color: #ffffff; */
  padding: 10px 10px;
  /* border: 10px solid blue; */
  margin-bottom: 25px;
  height: 400px;
}

.scoreBoxHeight,
.feedbackBox {
  /* background-color: #ffffff; */
  padding: 10px 10px;
  border: 10px solid blue;
  margin-bottom: 25px;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 2rem;
  background-color: #ffffff;
  border: 10px solid blue;
}

h2 {
  color: blue;
}
